<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>
    <link rel="stylesheet" href="../styles/style.css" />
</head>
<body>
    <main>
        <header class="menu">
            <nav class="nav">
                <h1 class="title"> Diseño <span class="title-azul">Multimedia</span></h1>
                    <ul>
                        <li class="option"><a href="../index.html"><span> INICIO </span></a></li>
                        <li class="option"><a href="./nosotros.html"><span> NOSOTROS</span></a></li>
                        <li class="option"><a href="./servicios.html"><span>SERVICIOS</span></a></li>
                        <li class="option"><a href="./contacto.html" class="activo"><span>CONTACTO</span></a></li>
                    </ul>
            </nav>
        <hr class="barra-azul">
            <nav class="nav-search">
                <h2 class="text-2">Subscribete a nuestro boletin</h2>
                <div class="search">
                    <input class="salida" type="text"  placeholder="Ingrese el Email... "/>
                    <input class="sub" type="submit" value="Subscribete">
                </div>
            </nav>
        </header>
        <section class="form-content">
            <article class="formulario-column">
                <h3 class="title-CONTACTO"> Contacto </h3>
                <form class="formulario" action="" method="">
                    <label for="name">Nombre</label>
                    <input class="contacto" type="text" id="name" placeholder="Ingresa tu nombre" />
                    <label for="email">Email</label>
                    <input class="contacto" type="email" id="email" placeholder="Ingresa tu email" />
                    <label for="tel">Telefono </label>
                    <input class="contacto" type="tel" id="tel" placeholder="Ingresa tu telefono" />
                    <label for="celular">Celular</label>
                    <input class="contacto" type="tel" id="celular" placeholder="Ingresa tu celular" />
                    <label for="comment">Mensaje </label>
                    <textarea class="Mensaje" name="textarea" rows="10" cols="50"></textarea>
                    <input  class="enviar" class="enviar" type="submit" value="Enviar" />
                </form>
            </article>
                <article class="column-aside">
                    <aside class="lado-derecho">
                        <h2 class="title-aside">Que hacemose</h2>
                        <p class="text-aside"> Lorem ipsum dolor set anetm consectetur</p>
                        <p class="text-aside">adpiscing elit. Donec varius auctor lacus</p>
                        <p class="text-aside">nec feugat. Phasellus sit amet ex ipsum.</p>
                        <p class="text-aside">Paraesent pharetra tincidunt tempor. Etiam</p>
                        <p class="text-aside">velit eros, dapbus eget profa in, lacinia et</p>
                        <p class="text-aside">magna.</p>
                    </aside>
                    <article class="content-map">
                        <img class="map" src="../assets/mapaGoogle.png" alt="map" />
                    </article>
                </article>
         </section>
    </main>
    <footer class="footer">
        <p class="text-footer"> Graphel Desarrollo web, Copyright © 2017</p>
    </footer>
</body>